<div class="container-modal-build-own-car">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-4 image">
      <img src="/assets/images/etc/modal-build-own-car.png" alt="app"/>
    </div>
    <div class="col-span-12 md:col-span-8 content self-center md:ml-8">
      <p class="title flex items-center">
        <span>Build your car with</span>
        <img class="ml-2 mt-3 md:mt-0" src="/assets/images/etc/logo-dash.svg" alt="logo"/>
      </p>
      <p class="context mt-6">
        Now, create your own car with just a few step
      </p>
      <div class="button-apps mt-12 md:mt-6">
        <img class="mr-2" src="/assets/images/etc/button-android.png" alt="app-android"/>
        <img src="/assets/images/etc/button-ios.png" alt="app-ios"/>
      </div>
    </div>
  </div>
</div>
