.all-inventory-btn {
  width: 155px;
  height: 35px;
  background: #f7f7f7;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  [nz-icon] {
    font-size: 10px;
  }
}

.car-txt > p {
  text-align: right;
  @media (max-width: 475px) {
    text-align: left;
  }
}

.model-txt {
  font-size: 24px;
  line-height: 33px;
  font-size: 24px;
  line-height: 33px;

  @media (min-width: 1024px) and (max-width: 1024px) {
    font-size: 18px;
  }

  @media (max-width: 475px) {
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    margin-top: 14px;
  }
}
