@import '../../../../../assets/scss/_variables.scss';

.pagination {
  &-result {
    font-size: 14px;
    line-height: 19px;
    color: $color_black;
    &-total {
      font-weight: 800;
    }
  }
  @media screen and (max-width: 525px) {
    display: block;
  }
}

::ng-deep {
  .ant-pagination-options {
    display: inline-block;
  }
  .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-item, .ant-pagination-next, .ant-pagination-prev {
    @media screen and (max-width: 768px) {
      min-width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      margin-right: 4px;
    }
  }
  .ant-pagination {
    li {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}