<div class="footer-quick-access">
  <div class="footer-quick-access-container grid gap-4 grid-cols-4">
    <div class="footer-quick-access-item">
      <div class="footer-quick-access-item-title">Dash Car Buying</div>
      <div class="footer-quick-access-item-menu">
        <div class="footer-quick-access-item-menu-text">Explore All Models</div>
        <div class="footer-quick-access-item-menu-text">Dash Search</div>
        <div class="footer-quick-access-item-menu-text">How it works?</div>
      </div>
    </div>
    <div class="footer-quick-access-item">
      <div class="footer-quick-access-item-title">Customer Center</div>
      <div class="footer-quick-access-item-menu">
        <div class="footer-quick-access-item-menu-text">Chat with us</div>
        <div class="footer-quick-access-item-menu-text">Privacy</div>
        <div class="footer-quick-access-item-menu-text">Site Map</div>
        <div class="footer-quick-access-item-menu-text">Accessibility</div>
        <div class="footer-quick-access-item-menu-text">Terms & Condition</div>
      </div>
    </div>
    <div class="footer-quick-access-item">
      <div class="footer-quick-access-item-title">Manufacturer</div>
      <div class="footer-quick-access-item-menu">
        <div class="footer-quick-access-item-menu-text">Madza</div>
        <div class="footer-quick-access-item-menu-text">Toyota</div>
      </div>
    </div>
    <div class="footer-quick-access-item">
      <div class="footer-quick-access-item-title">Dealer Name</div>
      <div class="footer-quick-access-item-menu">
        <div class="footer-quick-access-item-menu-text">1055 E Jericho Tpke Huntington, NY 11743</div>
        <div class="footer-quick-access-item-menu-bag">
          <div class="footer-quick-access-item-menu-bag-view">
            <i nz-icon nzType="aim"></i>
            <span>View on Maps</span>
          </div>
          <div class="footer-quick-access-item-menu-bag-view">
            <i nz-icon nzType="phone" nzTheme="fill"></i>
            <span>+1 (808) 288-1923</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
