<nz-footer class="bg-black">
  <div class="container">
    <div class="pb-4 md:pt-2 border-bottom-box grid grid-cols-12">
      <div class="col-span-12 md:col-span-6">
        <svg-icon src="/assets/dealer-logo-footer.svg"></svg-icon>
      </div>
      <div class="col-span-12 md:col-span-6 md:text-right mt-6 md:mt-0 icon-socials">
        <a href="#" class="inline-block"
        ><svg-icon
          src="./assets/social-icon-1.svg"
          [svgStyle]="{ 'width.px': 40 }"
        ></svg-icon
        ></a>
        <a href="#" class="inline-block text-right"
        ><svg-icon
          src="./assets/social-icon-2.svg"
          [svgStyle]="{ 'width.px': 40 }"
        ></svg-icon
        ></a>
        <a href="#" class="inline-block"
        ><svg-icon
          src="./assets/social-icon-3.svg"
          [svgStyle]="{ 'width.px': 40 }"
        ></svg-icon
        ></a>
      </div>
    </div>
    <div class="text-white py-10 border-bottom-box grid grid-cols-12">
      <div class="gutter-row col-span-6 md:col-span-3 mb-4 md:mb-0">
        <p class="mb-3"><a href="#">Dash Car Buying</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Explore All Models</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Dash Search</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">How it works?</a></p>
      </div>
      <div class="gutter-row col-span-6 md:col-span-3 mb-4 md:mb-0">
        <p class="mb-3"><a href="#">Deadler Name</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Main website</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">About</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Contact Us</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Maps & Opening Hours</a></p>
      </div>
      <div class="gutter-row col-span-6 md:col-span-3">
        <p class="mb-3"><a href="#">Customer Center</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Chat with us</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Privacy</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Site Map</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Accessbility</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Terms & Condition</a></p>
      </div>
      <div class="gutter-row col-span-6 md:col-span-3">
        <p class="mb-3"><a href="#">Manufacturer</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Madza</a></p>
        <p class="text-xs mb-2 font-hairline"><a href="#">Toyota</a></p>
      </div>
    </div>
    <div class="text-white pt-5 md:pt-7 md:pb-2 grid grid-cols-12">
      <div class="col-span-12 md:col-span-6 mb-1 md:mb-0">
        Copyright @2020, Dash.
        <span class="font-hairline">All right reserved.</span>
      </div>
      <div class="col-span-12 md:col-span-6">
        <span class="font-hairline">Powered by</span> Dealer Innovation
      </div>
    </div>
  </div>
</nz-footer>
