<div class="searching-banner">
  <div class="container mx-auto relative font-nunito">
    <div class="px-3">
      <div class="searching-banner-breadcrum text-nomal text-center">Home / Search Car</div>
      <div class="searching-banner-title font-extrabold text-center uppercase">Compare the best car deals</div>
      <div class="searching-banner-description uppercase text-center">Explode your future car</div>
    </div>
    <div class="searching-banner-power pr-5 sm:pr-0">
      Powered by <span class="font-extrabold uppercase">Dash</span>
    </div>
  </div>
</div>